<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">

  <a class="navbar-brand" routerLink="/" routerLinkActive="active"
     [routerLinkActiveOptions]="{ exact: true }">{{title}}</a>

  <a class="navbar-brand" routerLink="/polls" routerLinkActive="active"
     *ngIf="toonExtraNavOptions"
     [routerLinkActiveOptions]="{ exact: true }">Polls</a>

  <a class="navbar-brand" routerLink="/friends" routerLinkActive="active"
     *ngIf="toonExtraNavOptions"
     [routerLinkActiveOptions]="{ exact: true }">Friends</a>

  <div class="float-right ml-auto">
    <a class="navbar-brand" routerLink="/signUp" routerLinkActive="active"
       *ngIf="!toonExtraNavOptions"
       [routerLinkActiveOptions]="{ exact: true }">Sign up</a>

    <a class="navbar-brand" routerLink="/logIn" routerLinkActive="active"
       *ngIf="!toonExtraNavOptions"
       [routerLinkActiveOptions]="{ exact: true }">Log in</a>

    <a class="navbar-brand" routerLink="/Welkom" routerLinkActive="active"
       *ngIf="toonExtraNavOptions"
       [routerLinkActiveOptions]="{ exact: true }">Log out</a>
  </div>
</nav>
<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
