/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import '~material-design-icons/iconfont/material-icons.css';

body {
  margin-top: 60px;
  height: 100vh;
  background-color: #f4f4f4;
}
h1{
  font-weight: bold;
}
